/* Footer Container */
.footer {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient(#2b3e3c,#18312F,#18312F,#132826  );
}


.feature-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}

.footer-categories .category-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block;
}

.footer-categories a {
    color: #dbffff9d;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.footer-categories a:hover {
    color: #DBFFFF;
}

.footer-bottom p {
    font-size: 0.9rem;
}

.footer-bottom {
    color: #DBFFFF;
    font-size: 0.9rem;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom .social-buttons {
    gap: 15px;
    /* Space between buttons */
}

.footer-bottom .social-buttons a {
    color: #262626bd;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

.footer-bottom .social-buttons a:hover {
    color: #262626;
    transform: scale(1.1);
    /* Slight zoom effect on hover */
}

/* RTL adjustments */
[dir="rtl"] .footer-bottom .social-buttons {
    justify-content: flex-start;
}

[dir="rtl"] .footer-bottom p {
    text-align: right;
}
@media (max-width: 768px) {
    .feature-item p {
        font-size: 0.9rem;
    }

    .footer-categories {
        text-align: center;
    }

    .footer-categories .category-title {
        margin-top: 15px;
    }
}